matrix:
    os: linux
    dist: focal
    arch: arm64-graviton2
    group: dev
    
    include:
        - language: ruby
          rvm:
            - 2.5
          script:
            - ruby hello.rb
        
        - language: cpp
          compiler: clang
          script:
            - g++ hello.cpp          
